body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
}

.myNav {
  background-color: rgb(209, 209, 209) !important;
}

.card {
  outline: none;
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
}
